<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>About Data</title>
    <link rel="icon" href="../static/Nav-bar Icon.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body class="bg-zinc-50">

    <!-- Nav Bar Section -->

    <header class="text-gray-600 body-font -my-8">
      <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
          <img class="object-cover object-center rounded" alt="icon" src="../static/Nav-bar Icon.png">
          <span class="ml-3 text-xl">Auto Insurance Fraud Prediction</span>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
          <a href="/" id="nav-item-color" class="mr-5 tracking-wide uppercase hover:font-bold">Home</a>
          <a href="/presentation" id="nav-item-color" class="mr-5 tracking-wide text-pink-900 uppercase hover:font-bold">Presentation</a>
          <a href="/about" id="nav-item-color" class="mr-5 tracking-wide uppercase font-bold">About Data</a>
          <a href="/overview" id="nav-item-color" class="mr-5 tracking-wide uppercase hover:font-bold">Overview</a>
          <a href="/visualizations" id="nav-item-color" class="mr-5 tracking-wide uppercase hover:font-bold">Visualizations</a>
          <a href="/prediction" id="nav-item-color" class="mr-5 tracking-wide uppercase hover:font-bold">Prediction</a>
          <a href="/code" id="nav-item-color" class="mr-5 tracking-wide uppercase hover:font-bold">Code</a>
        </nav>
        </button>
      </div>
    </header>

      <hr>

    <!-- Hero Section -->

    

      <!-- Attributes Section -->

      <section class="text-gray-600 body-font -my-12">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
          <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-left">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">About Data
            </h1>
            <p class="mb-8 leading-relaxed">Welcome to our insurance data analysis platform, where we provide comprehensive insights into various aspects of insurance data. Our platform analyzes multiple datasets that include demographic data, policy information, claim data, vehicle data, and fraud data.</p>
            <p class="mb-8 leading-relaxed">The demographic data includes information such as customer ID, country, insured age, gender, and education level. This data provides insights into the customer base of the insurance company and helps in making informed decisions regarding insurance policies.</p>
            <p class="mb-8 leading-relaxed">The policy information dataset includes data such as customer ID, insurance policy number, date of policy coverage, policy state, and umbrella limit. This data helps in understanding the policies offered by the insurance company and the coverage provided.</p>
            <p class="mb-8 leading-relaxed">The claim data contains information about the insurance claims made by customers, such as the date of the incident, type of incident, amount of injury claim, and amount of property claim. This data is critical in understanding the types of claims made and their frequency.</p>
            <p class="mb-8 leading-relaxed">The vehicle data includes details about the vehicle connected to the policy, such as the make, model, year, and value. This data provides insights into the types of vehicles that are insured by the company and their value.</p>
            <p class="mb-8 leading-relaxed">Finally, the fraud data provides information about reported fraud cases by customers, including customer ID and reported fraud. This data is critical in identifying potential fraudulent activities and taking corrective actions to prevent them.</p>
            <p class="mb-8 leading-relaxed">Our platform uses advanced analytical techniques to derive insights from these datasets and provide valuable information to insurance companies. With our platform, insurance companies can make informed decisions regarding policy coverage, claims processing, and fraud prevention, ultimately leading to better customer satisfaction and improved business performance.</p>
        </div>
      </section>

      <section class="text-gray-600 body-font overflow-hidden -my-8">
        <div class="container px-5 py-24 mx-auto">
          <div class="-my-8 divide-y-2 divide-gray-100">
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="font-semibold title-font text-xl text-gray-700">Demographics Data</span>
              </div>
              <div class="md:flex-grow">
                <div class="flex justify-left">
                  <ul class="list-disc">
                    <li>CustomerID : Customer ID</li>
                    <li>InsuredAge : age</li>
                    <li>InsuredZipCode : Zip Code</li>
                    <li>InsuredGender : Gender - the missing value is represented as “NA”</li>
                    <li>InsuredEducationLevel : Education</li>
                    <li>InsuredOccupation : Occupation</li>
                    <li>InsuredHobbies : Hobbies</li>
                    <li>CapitalGains : Capital gains(Financial Status)</li>
                    <li>CapitalLoss : capital loss(Financial Status)</li>
                    <li>Country : Country</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="font-semibold title-font text-xl text-gray-700">Policy Information</span>
              </div>
              <div class="md:flex-grow">
                <div class="flex justify-left">
                  <ul class="list-disc">
                    <li>CustomerID : Customer ID</li>
                    <li>CustomerLoyaltyPeriod : Duration of customer relationship</li>
                    <li>InsurancePolicyNumber : policy number</li>
                    <li>DateOfPolicyCoverage : policy commencement date</li>
                    <li>InsurancePolicyState : Policy location (State)</li>
                    <li>Policy_CombinedSingleLimit : Split Limit and Combined Single Limit</li>
                    <li>Policy_Deductible : Deductible amount</li>
                    <li>PolicyAnnualPremium : Annual Premium – the missing value is represented as “-1”</li>
                    <li>UmbrellaLimit : Umbrella Limit amount</li>
                    <li>InsuredRelationship : Realtionship</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="font-semibold title-font text-xl text-gray-700">Demographics Data</span>
              </div>
              <div class="md:flex-grow">
                <div class="flex justify-left">
                  <ul class="list-disc">
                    <li>CustomerID : Customer ID</li>
                    <li>DateOfIncident : Date of incident</li>
                    <li>TypeOfIncident : Type of incident</li>
                    <li>TypeOfCollission : Type of Collision - “?” is the missing value</li>
                    <li>SeverityOfIncident : Collision severity</li>
                    <li>AuthoritiesContacted : Which authorities are contacted</li>
                    <li>IncidentState : Incident location (State)</li>
                    <li>IncidentCity : Incident location (City)</li>
                    <li>IncidentAddress : Incident location (address)</li>
                    <li>IncidentTime : time of incident – Hour of the day - the missing value is represented as “-5</li>
                    <li>NumberOfVehicles : Number of vehicles involved</li>
                    <li>PropertyDamage : If property damage is there - “?” is the missing value</li>
                    <li>BodilyInjuries : Number of bodily injuries</li>
                    <li>Witnesses : Number of witnesses - missing value is represented as "MISSINGVALUE"</li>
                    <li>PoliceReport : If police report available - “?” is the missing value</li>
                    <li>AmountOfTotalClaim : Total claim amount - the missing value is represented as “MISSEDDATA”</li>
                    <li>AmountOfInjuryClaim : Claim for injury</li>
                    <li>AmountOfPropertyClaim : claim for property damage</li>
                    <li>AmountOfVehicleDamage : claim for vehicle damage</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="font-semibold title-font text-xl text-gray-700">Data of Vehicle</span>
              </div>
              <div class="md:flex-grow">
                <div class="flex justify-left">
                  <ul class="list-disc">
                    <li>CustomerID : Customer ID</li>
                    <li>VehicleAttribute : Service signed for</li>
                    <li>VehicleAttribute : Service signed for</li>
                    <li>VehicleAttributeDetails : Value of the vehicle attribute - the missing value is represented as “???”</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="py-8 flex flex-wrap md:flex-nowrap">
              <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                <span class="font-semibold title-font text-xl text-gray-700">Fraud Data</span>
              </div>
              <div class="md:flex-grow">
                <div class="flex justify-left">
                  <ul class="list-disc">
                    <li>CustomerID : Customer ID</li>
                    <li>ReportedFraud : Fraud or not – Target</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Footer Section -->

      <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
          <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
            <img class="object-cover object-center rounded" alt="icon" src="../static/Nav-bar Icon.png">
            <span class="ml-3 text-xl">Auto Insurance Fraud Detection</span>
          </a>
          <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">Syed Aawaiz Ashraf —
            <a href="https://github.com/Aawaizashraf" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@Aawaizashraf</a>
          </p>
          <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <a class="text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>
            <a class="ml-3 text-gray-500">
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
                <circle cx="4" cy="4" r="2" stroke="none"></circle>
              </svg>
            </a>
          </span>
        </div>
      </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>